 /* body {
            font-family: 'Inter', sans-serif;
            background-color: #f8f9fe;
        }
        .sidebar-icon {
            width: 24px;
            height: 24px;
        }

.sidebar-icon:hover {
            background-color: #e9ecef;
        }
.sidebar-icon:hover{
    color: #6D5BD0;
    background-color: #60EEFF;
} */
